@using Dashboard.Models.Widgets

<div id="container">
    <label for="showfastest">Use Fastest instead of Fast</label>
    <input name="showfastest" type="checkbox" @onchange="@((args) => Widget.Settings["ShowFastest"] = args.Value)">Use Fastest instead of Fast</input>
</div>


@code {
    [Parameter]
    public WidgetModel Widget { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Widget.Settings["ShowFastest"] = false;
        await base.OnInitializedAsync();
    }
}
