div {
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

h2 {
    font-size: 6vw;
    height: 100%;
    font-size: 6vw;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    text-align: center;
}