@using Dashboard.Models.Widgets

<div id="container">
    <label for="showalbumname">Display Album Name</label>
    <input name="showalbumname" type="checkbox" @onchange="@((args) => Widget.Settings["ShowAlbumName"] = args.Value)">Show album name</input>
</div>

@code {
    [Parameter]
    public WidgetModel Widget { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Widget.Settings["ShowAlbumName"] = false;
        await base.OnInitializedAsync();
    }
}
