@using Dashboard.Models.Widgets
<div id="container">
    <h3>City / Country / Known Location</h3>
    <input type="text" @onchange="@((args) => Widget.Settings["City"] = args.Value)" />
</div>


@code {
    [Parameter]
    public WidgetModel Widget { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Widget.Settings["City"] = "Toulouse";
        await base.OnInitializedAsync();
    }
}
