h2 {
    overflow: hidden;
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 58px;
    color: #C6C6C6;
    margin-top: 1vw;
    margin-bottom: 0px;
    margin-left: 2vw;
}

h1 {
    overflow: hidden;
    font-style: normal;
    font-weight: 300;
    font-size:5vw;
    line-height: 87px;
    color: #FFFFFF;
    margin-left: 2vw;
    margin-bottom: 0px;
}

p {
    overflow: hidden;
    font-style: normal;
    font-weight: 300;
    font-size: 26.9533px;
    line-height: 32px;
    color: #BFBFBF;
    margin-left: 2vw;
}