@page "/dashboard"
@using Dashboard.Models
@using Dashboard.Services
@using Dashboard.Shared.Widgets;
@inject SpotifyService Spotify
@inject SessionState SessionState
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Panel</PageTitle>
<img id="logo" src="res/logo.svg" />
<div id="background-ellipses">
    <img id="e1" draggable="false" src="res/ellipses/e1.svg" />
    <img id="e2" draggable="false" src="res/ellipses/e2.svg" />
    <img id="e3" draggable="false" src="res/ellipses/e3.svg" />
    <img id="e4" draggable="false" src="res/ellipses/e4.svg" />
    <img id="e5" draggable="false" src="res/ellipses/e5.svg" />
    <img id="e6" draggable="false" src="res/ellipses/e6.svg" />
    <img id="e7" draggable="false" src="res/ellipses/e7.svg" />
</div>

<div id="widgets">
    <WidgetsContainer StyleId="top-widgets">
        <WidgetContainer Id="0" Widget="@(new Dashboard.Models.Widget(typeof(SpotifyWidget).AssemblyQualifiedName!))" />
        <WidgetContainer Id="1" Widget="@(new Dashboard.Models.Widget(typeof(ExampleWidget).AssemblyQualifiedName!))" />
        <WidgetContainer Id="2" Widget="@(new Dashboard.Models.Widget(typeof(ExampleWidget).AssemblyQualifiedName!))" />
    </WidgetsContainer>

    <div id="middle-widgets">
        <div id="middle-one" class="widget-card">

        </div>
        <div id="middle-two" class="widget-card">

        </div>
        <div id="middle-three" class="widget-card">

        </div>
    </div>
    <div id="bottom-widgets">
        <div id="bottom-one" class="widget-card">

        </div>
        <div id="bottom-two" class="widget-card">

        </div>
        <div id="bottom-three" class="widget-card">

        </div>
    </div>
</div>

@if (ShowMenu)
{
    <ServicesMenu />
}

<button id="services-menu" @onclick="@OnOpenServicesMenuButtonClicked">
    ^
</button>

@code {
    bool ShowMenu = false;

    
    void OnOpenServicesMenuButtonClicked()
    {
        ShowMenu = !ShowMenu;   
    }
}
