@page "/"

<PageTitle>Dashboard</PageTitle>

<img id="logo" src="res/logo.svg"/>
<h1 id="logo-text">DASHBOARD</h1>

<nav>
    <AuthorizeView>
        <Authorized>
            <a id="register" href="/Identity/Account/Logout">Logout</a>
            <a href="/dashboard">Dashboard</a>
        </Authorized>
        <NotAuthorized>
            <a id="register" href="/Identity/Account/Register">Register</a>
            <a href="/Identity/Account/Login">Login</a>
        </NotAuthorized>
    </AuthorizeView>
</nav>
<div id="central-text">
    <h2>Centralize your needs with Dashboard.</h2>
    <p>
        Get control back on your virtual life.
        With your virtual life being spread
        more and more across different 
        websites and services, Dashboard helps
        you organize and regroup everything
        you need in one convenient website.
    </p>
</div>

