@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<img id="logo" src="res/logo.svg" />
<h1 id="logo-text">DASHBOARD</h1>

<nav>
    <a id="register" href="/Identity/Account/Register">Register</a>
    <a href="/Identity/Account/Login">Login</a>
</nav>

<div class="login-body row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="login-form-field">
                <label asp-for="Input.Email" class="login-form-field-label"></label>
                <input asp-for="Input.Email" class="login-form-field-control" autocomplete="username"
                    aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="login-form-field">
                <label asp-for="Input.Password" class="login-form-field-label"></label>
                <input asp-for="Input.Password" class="login-form-field-control" autocomplete="new-password"
                    aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="login-form-field">
                <label asp-for="Input.ConfirmPassword" class="login-form-field-label"></label>
                <input asp-for="Input.ConfirmPassword" class="login-form-field-control" autocomplete="new-password"
                    aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="login-submit-button">Register</button>
        </form>
    </div>
    <div class="login-separator"></div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a
                            href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn-extra-login" name="provider" value="@provider.Name"
                            title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                }
            }
        </section>
    </div>
</div>

<style>
    body {
        background-color: #141A22;
    }

    #logo {
        width: 62px;
        height: 62px;
        margin-left: 62px;
        margin-top: 62px;
    }

    #logo-text {
        position: absolute;
        left: -48px;
        float: left;
        top: 290px;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        letter-spacing: 0.215em;
        color: #FFFFFF;
        transform: rotate(90deg);
    }

    #central-text {
        position: absolute;
        left: 22%;
        top: 177px;
    }

    h2 {
        width: 804px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        color: #FFFFFF;
    }

    p {
        width: 870px;
        margin-top: 75px;
        margin-left: 27px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        color: #707070;
    }

    nav {
        float: right;
        position: absolute;
        right: 0;
        top: 65px;
        margin-right: 75px;
    }

    #register {
        color: #7B7B7B;
    }

    #account {
        color: #7B7B7B;
    }

    nav>a {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 0%;
        /* identical to box height, or 0px */
        margin-left: 38px;
        letter-spacing: 0.1em;
        color: white;
    }

    .login-body {
        margin-left: 250px;
        justify-content: space-between;
    }

    .login-separator {
        height: 500px;
        width: 0px;
        padding: 0px;
        border: 1px solid #7A7A7A
    }

    .btn-extra-login {
        color: white;
        margin: 20px 0px;
        background-color: rgba(106, 106, 106, 0.74);
        border: none;
        border-radius: 39px;
        font-size: 36px;
        width: 300px;
    }

    .login-form-field {
        margin-bottom: 35px;
    }

    .login-form-field-label {
        color: white;
        margin-left: 10px;
        font-size: 36px;
        display: block;
    }

    .login-form-field-control {
        height: 60px;
        width: 400px;
        background-color: rgba(106, 106, 106, 0.74);
        border: none;
        border-radius: 20px;
    }

    .login-submit-button {
        width: 180px;
        height: 70px;
        background: linear-gradient(180deg, #5D5FEF 0%, #EF5DA8 100%);
        border-radius: 28px;
        border: none;
        font-size: 24px;
        color: white;
    }

    .login-extra-options {
        text-decoration: none;
        color: white;
        font-size: 18px;
        display: block;
    }
</style>
