@using Dashboard.Models
@using Dashboard.Services
@inject SessionState State
@inject OAuthManagerService OAuthManager
@inject NavigationManager NavManager

<div class="container">
    <ul>
        <li>
            <img width="33" height="33" src="res/spotify_logo.svg"/>
            <a @onclick="OnLinkWithSpotifyClick" href=".">
                Link with Spotify
            </a>
        </li>
    </ul>
</div>

@code {
    void OnLinkWithSpotifyClick()
    {
        string url = OAuthManager.BuildAuthenticationUrl(ServiceType.Spotify);

        NavManager.NavigateTo(url);
        Console.WriteLine(url);
    }
}
