<div class="container">
    <ul>
        <li>
            <img width="33" height="33" src="res/spotify_logo.svg"/>
            <a href=".">
                Link with Spotify
            </a>
        </li>
    </ul>
</div>

@code {

}
