.top {
    width: 100%;
    height: 100%;
}

.card {
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(34px);
    border-radius: 24.88px;
    border: solid;
    border-color: rgba(235, 235, 235, 0.1);
    border-width: 1px;
}

.draggable {
    cursor: grab;
}

p {
    color: white;
}

.bottom-one {
    position: static;
    height: 100%;
    width: 41%;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom-two {
    position: static;
    height: 100%;
    width: 259.17px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.bottom-three {
    position: static;
    height: 100%;
    width: 31%;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 1;
}